@import "../../vendor/styles/bourbon/bourbon";

@import "imports/variables";
@import "imports/fonts";

@import "layouts/player";
@import "album";
@import "album_collection";

body, html {
  // Allows us to set the min-height for child elements.
  height: 100%;
}

// Want the edges for Bootstrap navbars to be non-rounded.
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

