extends layouts/base_layout

block body
  .container
    .panel.panel-warning
      .panel-heading
        | Page not found
      .panel-body
        h1 Sorry, but the page you were trying to view does not exist.
        p It looks like this was the result of either:
        ul
          li a mistyped address
          li an out-of-date link

