//- Hi! This is an example Jade file.

//- The '//-' at the start of these lines are comments that wont appear in the
//- generated HTML.

//-
    Here's a link to Jade's homepage that you should use as an additional reference
    http://jade-lang.com


//- The `extends` keyword in Jade is used to reusable template
    We'll cover this in more detail when building our Rdio clone.
extends layouts/base_layout

//- The `block` keyword is used to plug content into sections of your template.
    We'll cover this in the Rdio clone.
block body

  //- This creates a `div` element with two css classes applied to it

      Note: The period after the closing paren is important!
        Without it, Jade turns the 'A' into a '<A>'.
  div(class="grey-background orange-text").
  .grey-background
    .orange-text.
      A div with the CSS classes 'grey-background' and 'orange-text' applied to it.

  //- Another alternative for the above is to use
    the vertical bar '|' (typed pressing shift and backslash). The vertical bar prevents
    the following word from being turned into an '<A>' tag.
  div(class="grey-background orange-text")
    | A second div with the CSS classes 'grey-background' and 'orange-text' applied to it.

  a(href="http://google.com", class="orange-text") This is a link to google.

  //- This is an image with the source of an image being Google's logo.
  img(src="http://www.google.com/images/srpr/logo11w.png")

  a(href="http://google.com", class="orange-text") This is a link to google.


  //- Step 3 code goes below. Watch your indentation! Each additional level should be indented by 2 spaces.



