
// This creates a mixin that can used to change the font for a class.
//  Font from: http://www.google.com/fonts/specimen/Open+Sans
//
//  Usage: '@include font-open-sans(800)'
//  Values allowed: 300, 400, 600, 700, 800
@mixin font-open-sans($weight) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
}
